.viewport {
  /*width: 25%;*/
  height: 35vh;
}

a {
  font-size: 25px;
}

.challenges {
  margin: 0;
  padding: 0;
}


.challenge {
  flex-direction: column;
  /*border: 4px solid black;*/
  /*border-radius: 25px;*/
  padding: 4px;
  /*margin: 20px;*/
  width: 100%;
  list-style-type: none;
  /*background: red;*/
}

.challenge button {
  width: 100%;
  font-size: 22px;
  word-wrap: break-word;
  white-space: normal;
  /*max-width: 75vw;*/
}

.challenge:hover {
  opacity: 0.8;
  background: darkgray;
  cursor: pointer;
}
