<!--<div *ngIf="data.type === 'location'" id="ol-map" class="dialog-map-container"></div>-->
<!--<div *ngIf="data.type === 'question'" class="dialog-question-container">-->
<!--  <p>{{ data.question }}</p>-->
<!--  <mat-form-field class="answer-field" appearance="fill">-->
<!--    <mat-label>Answer</mat-label>-->
<!--    <input matInput placeholder="Answer Here" value="">-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<button mat-raised-button>Submit</button>-->

<!--<mat-nav-list>-->
<!--  <a href="https://keep.google.com/" mat-list-item >-->
<!--    <span mat-line>Google Keep</span>-->
<!--    <span mat-line>Add to a note</span>-->
<!--  </a>-->

<!--  <a href="https://docs.google.com/" mat-list-item >-->
<!--    <span mat-line>Google Docs</span>-->
<!--    <span mat-line>Embed in a document</span>-->
<!--  </a>-->

<!--  <a href="https://plus.google.com/" mat-list-item >-->
<!--    <span mat-line>Google Plus</span>-->
<!--    <span mat-line>Share with your friends</span>-->
<!--  </a>-->

<!--  <a href="https://hangouts.google.com/" mat-list-item >-->
<!--    <span mat-line>Google Hangouts</span>-->
<!--    <span mat-line>Show to your coworkers</span>-->
<!--  </a>-->
<!--</mat-nav-list>-->
<cdk-virtual-scroll-viewport itemSize="10" class="viewport">
    <ul class="challenges" *cdkVirtualFor="let data of currentHunt.challenges; let i = index" (click)="click(i)">
    <li class="challenge">
      <button mat-raised-button color="accent">
        {{ data.question }}
        <mat-icon *ngIf="data.correct" class="material-symbols-outlined">check</mat-icon>
      </button>

    </li>
  </ul>
</cdk-virtual-scroll-viewport>
