<h1 mat-dialog-title>Create Challenge</h1>
<div id="ol-map" class="dialog-map-container"></div>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Challenge Question</mat-label>
    <input matInput [(ngModel)]="question">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="accent" [mat-dialog-close] cdkFocusInitial (click)="addData()">Submit</button>
  <button mat-button color="accent" [mat-dialog-close] cdkFocusInitial>Close</button>
</div>
