.table-container {
  /*background-color: black;*/
  height: 85vh;
  width: 100vw;
  overflow: auto;

}

table {
  width: 100%;
}

td , th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 25vw;
}

.button-container {
  /*bottom: 0;*/
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  position: fixed;
  vertical-align: middle;
  border-radius: 0;
}

.button-container .options {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 0;
}
