<div class="table-container">
<table mat-table [dataSource]="currentHunt.challenges" class="mat-elevation-z8 table">
  <!-- Position Column -->
  <ng-container matColumnDef="challenge_question_id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{element.challenge_question_id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="question">
    <th mat-header-cell *matHeaderCellDef>Question</th>
    <td mat-cell *matCellDef="let element">{{element.question}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td mat-cell *matCellDef="let element">{{element.location.latitude}}, {{element.location.longitude}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell  *matCellDef="let element">
      <button mat-raised-button color="accent" (click)="openDialogEdit(element.challenge_question_id,$event)" class="button">
        <mat-icon class="material-symbols-outlined">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell  *matCellDef="let element">
      <button mat-raised-button (click)="openDialogDelete(element.challenge_question_id,$event)" class="button">
        <mat-icon class="material-symbols-outlined">delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<div class="button-container">
  <mat-card class="options">
    <mat-card-actions>
  <button mat-raised-button color="accent" (click)="openDialog()" class="button">
    Create Challenge
  </button>
  <button mat-raised-button color="accent" (click)="backButton()" class="backButton">
    Back
  </button>
    </mat-card-actions>
  </mat-card>
</div>

