<!-- broken now, need to fix -->
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="this.NavigationService.isMenuOpen" class="sidenav">
    <div class="hunt-info">
      <app-hunt-info></app-hunt-info>
    </div>
    <mat-card class="options">
      <mat-card-content>
        <mat-card-header>
          <mat-card-title>
            Options
          </mat-card-title>
        </mat-card-header>

<!--        <section>-->
<!--          <mat-slide-toggle-->
<!--            class="example-margin"-->
<!--            [color]="color"-->
<!--            [checked]="checked"-->
<!--            [disabled]="disabled">-->
<!--            Edit Mode-->
<!--          </mat-slide-toggle>-->
<!--        </section>-->
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-raised-button (click)="goToAdmin();">Admin</button>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content class="main">
    <main>
      <div id="ol-map" class="map-container">
        <app-map class="app-map"></app-map><!--[map]="map" -->
      </div>
<!--      <router-outlet class="router"></router-outlet>-->
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>



<mat-toolbar class="menu-bar">
  <div class="current">
    <mat-card>{{ this.HuntInfoService.currentChallengeQuestion }}</mat-card>
<!--      <mat-icon *ngIf="data.correct" class="material-symbols-outlined">check</mat-icon>-->
  </div>
  <div class="buttons">
    <button mat-flat-button (click)="sidenav.toggle()">
      <mat-icon class="material-icons">{{ this.NavigationService.isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      <span>Menu</span>
    </button>
    <button mat-flat-button (click)="click();">
      <mat-icon class="material-icons">list</mat-icon>
      <span>Questions</span>
    </button>
    <button mat-flat-button (click)="answerClick();">
      <mat-icon class="material-icons">quiz</mat-icon>
      <span>Submit Answer</span>
    </button>
  </div>
</mat-toolbar>
