.sidenav-container {
  height: 80vh;
  /*height: 100%;*/

  width: 100%;
  /*z-index: 950;*/
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /*top: 0;*/
  /*left: 0;*/
  /*position: fixed;*/
  /*height: 100%;*/
}

.hunt-info {
  width: 100%;
  flex: 1;
}

.sidenav-container .main {
  /*height: 100%;*/
  /*width: 100%;*/
  margin: 0;
  padding: 0;
}

.sidenav-container .options {
  bottom: 0;
  /*position: absolute;*/
  width: 100%;
  flex: 1;
}

.map-container {
  /*display: flex;*/
  /*flex-direction: row;*/
  height: 85vh;
  width: 100%;
  margin: 0;
  padding: 0;
  /*top: 0;*/
  /*left: 0;*/
  /*position: fixed;*/
  /*z-index: 0;*/
  /*padding: 24px;*/
  /*margin: 12px;*/
  /*border: 4px solid black;*/
}

/*.flex-container .search-container {*/
/*  !*background: darkorchid;*!*/
/*  !*flex: 1 1 0%;*!*/
/*  !*padding: 20px;*!*/
/*  !*margin: 20px;*!*/
/*  width: 25%;*/
/*  padding-right: 20px;*/
/*  color: black;*/
/*  display: flex;*/
/*}*/


/*.flex-container .map-container {*/
/*  flex: 1 1 0;*/
/*  border: 10px black;*/
/*}*/

.menu-bar {
  position: fixed;
  bottom: 0;
  z-index: 1000;

  background: darkgray;
  width: 100%;
  height: 20vh;
  /*height: 100%;*/

  /*height: 5vh;*/
  /*padding: 2em;*/
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*flex: 1 1 auto;*/

}

.menu-bar .current {
  height: 10vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu-bar .current .mat-card {
  /*height: 100%;*/
  /*width: 100%;*/
  text-align: center;
  vertical-align: middle;
  border-radius: 0;
  word-wrap: break-word;
  white-space: normal;
  overflow: scroll;
  /*align-items:center;*/
  /*justify-content:center;*/
}

.menu-bar .buttons {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  width: 100%;
  padding: 0;
  margin: 0;
  height: 10vh;
  border-radius: 0;
  /*flex: 1 1 auto;*/


}
.menu-bar .buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  column-width: 300px;
  height: 100%;
  /*overflow: visible;*/

}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  border-radius: 0;
}

.menu-bar .current mat-card {
  border-radius: 0;
  height: 100%;
}

.menu-bar .buttons span {
  display: block;
  overflow: visible;
  height: 24px;
}

.menu-bar .buttons button:hover{
  color: blueviolet;
}

