.viewport {
  width: 100%;

}
.huntList {
  flex-direction: column;
  /*border: 4px solid black;*/
  /*border-radius: 25px;*/
  padding: 4px;
  /*margin: 20px;*/
  width: 100%;
  list-style-type: none;
  overflow: scroll;
}

.huntList button {
  font-size: 32px;
  width: 100%;
}

.huntList:hover {
  opacity: 0.8;
  background: darkgray;
  cursor: pointer;
}

.hunt {
  /*flex-direction: column;*/
  /*border: 4px solid black;*/
  /*border-radius: 25px;*/
  /*padding: 20px;*/
  /*!*margin: 20px;*!*/
  z-index: 1000;
  color: red;
  width: 100%;
  height: 20px;
  /*list-style-type: none;*/
}

.hunt:hover {
  opacity: 0.8;
  background: darkgray;
  cursor: pointer;
}
