<ul [ngStyle]="this.MapService.hovered && this.MapService.currentID === i ? {'background': background, 'opacity': opacity} : {}" (mouseover)="highlightMap(i);" (mouseout)="unhighlightMap(i);" (click)="click(i, data.location);" class="huntList" *ngFor = "let data of huntList; let i = index">
  <li>
    <button mat-raised-button color="accent">{{ data.name }}
    </button>
  </li>
</ul>


<!--<cdk-virtual-scroll-viewport itemSize="10" class="viewport">-->
<!--  <div class="hunt" [ngStyle]="this.MapService.hovered && this.MapService.currentID === i ? {'background': background, 'opacity': opacity} : {}" (mouseover)="highlightMap(i);" (mouseout)="unhighlightMap(i);" (click)="click(i, data.location);" *cdkVirtualFor = "let data of huntList; let i = index">-->
<!--    {{ data.name }}-->
<!--  </div>-->
<!--</cdk-virtual-scroll-viewport>-->
