<div class="table-container">
<table mat-table [dataSource]="huntList" class="mat-elevation-z8 table">
  <!-- Position Column -->
  <ng-container matColumnDef="hunt_id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{element.hunt_id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td mat-cell *matCellDef="let element">{{element.location.latitude}}, {{element.location.longitude}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell  *matCellDef="let element">
      <button mat-raised-button color="accent" (click)="openDialogEdit(element.hunt_id,$event)" class="button">
        <mat-icon class="material-symbols-outlined">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell  *matCellDef="let element">
      <button mat-raised-button (click)="openDialogDelete(element.hunt_id,$event)" class="button">
        <mat-icon class="material-symbols-outlined">delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      (click)="clickedRow(row)"
      *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<div class="button-container">
  <mat-card class="options">
    <mat-card-actions>
  <button mat-raised-button color="accent" (click)="openDialog()" class="button">
    Create Hunt
  </button>
  <button mat-raised-button color="accent" (click)="backButton()" class="backButton">
    Back
  </button>
    </mat-card-actions>
  </mat-card>
<!--  <button-->
<!--    mat-raised-button-->
<!--    [disabled]="!dataSource.length"-->
<!--    (click)="removeData()"-->
<!--    class="button">-->
<!--    Delete Hunt-->
<!--  </button>-->
</div>
