/*@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";*/

* {
  /*color: #e27022;*/
  font-family: 'Roboto', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}



html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

body {
  margin: 0;
  background: gray;

  /*padding: 0;*/
}


/*html, body { height: 100%; }*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
