@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$gray-palette, 900);
$my-accent: mat.define-palette(mat.$orange-palette, 800);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);
